<!-- views/pages/index.ejs -->

<% include ../partials/head.ejs %>

<div class="jumbotron vertical-center">
    <div class="container jumbobox">
        <h1 class="display-4">Eat Explorer</h1>
        <p class="lead">Take the indecision out of finding a restaurant.</p>

        <form action="/find" method="post">
            <div class="form">
                <label for="postcodeInput">Enter your postcode to find a random restaurant</label>
                <input type="text" name="postcode" class="form-control form-control-lg" id="postcodeInput" aria-describedby="postcodeHelp" placeholder="Postcode">
            </div>
            <button type="submit" class="btn btn-primary" value="Find">Find a restaurant</button>
        </form>
    </div>
</div>


<% include ../partials/foot.ejs %>